<div class="dropdown-menu show w-100">
  {% for user in users %}
  <button class="dropdown-item" hx-on:click="
                    document.getElementById('user_id').value='{{user.id}}';
                    document.getElementById('user-search').value='{{user.first_name}} {{user.last_name}}';
                    this.closest('.dropdown-menu').classList.remove('show')
                ">
    {{user.first_name}} {{user.last_name}} ({{user.email}})
  </button>
  {% endfor %}
  {% if not users %}
  <div class="dropdown-item text-muted">No users found</div>
  {% endif %}
</div>
