{% extends "base.html" %}
{% block main %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">My Payslips</h1>
  </div>

  <!-- Search & Filters Section -->
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <select class="form-control" name="year"
        hx-get="/slip/my-payslip-search"
        hx-trigger="change"
        hx-target="#payslip-table-body"
        hx-include="[name='year'], [name='month']"
      >
        <option value="">Select Year</option>
        {% for y in range(2000, datetime.utcnow().year + 1) %}
          <option value="{{ y }}">{{ y }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-3">
      <select class="form-control" name="month"
        hx-get="/slip/my-payslip-search"
        hx-trigger="change"
        hx-target="#payslip-table-body"
        hx-include="[name='month'], [name='year']"
      >
        <option value="">Select Month</option>
        {% for m in range(1, 13) %}
                  <option value="{{ m }}">{{ datetime(2000, m, 1).strftime('%B') }}</option>
           {% endfor %}
      </select>
    </div>
  </div>

  <!-- Table Section -->
  <div class="card p-3">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Upload Date</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody id="payslip-table-body">
        {% include "partials/user_payslips_list.html" %}
      </tbody>
    </table>
  </div>
<div class="pagination">
  {% if payslips.has_prev %}
  <button hx-get="{{ url_for('slips.my_payslips', page=payslips.prev_num) }}" hx-target="#users-table"
    class="btn btn-outline-primary">Previous</button>
  {% endif %}

  <span> Page {{ payslips.page }} of {{ payslips.pages }} </span>

  {% if payslips.has_next %}
  <button hx-get="{{ url_for('slips.my_payslips', page=payslips.next_num) }}" hx-target="#users-table"
    class="btn btn-outline-primary">Next</button>
  {% endif %}
</div>
  </div>
</div>
</div>


{% endblock %}
